.header {
    margin: auto;
 
    

}


.header__logo {
    width: 173px;
    height: 33px;
    color: #fff;
    margin: 45px auto 41px auto;
    

}


.header__line {
    width: 880px;
    margin: auto;
    display: block;
    opacity: 0.7;
    border: 1px solid #545454;
    margin-bottom: 40px;
    
    
    
}

@media screen and (min-width: 720px) and (max-width: 880px) {
   
      
    .header__line {
       
}

}


@media screen and (min-width: 320px) and (max-width: 768px) {
    
    
    .header__logo {
        width: 126px;
        height: 24px;
        margin: 28px auto 42px auto;
    
    }
    
    
    .header__line {
        width: 90%;
        
        
    }
    
    
}