.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup__form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  margin: 160px auto;
  position: relative;
}

.popup_opened {
  display: flex;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popup__close-button {
  position: absolute;
  right: 80px;
  top: 80px;
  width: 40px;
  height: 40px;
}

.popup__image {
  max-width: 750px;
  max-height: 500px;
  z-index: 0;
}

.popup__title {
  color: white;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  align-self: flex-start;
}

.form_close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -50px;
  top: -50px;
  background-size: cover;
  outline: 0;
  border: 0;
}

.form_close-button:hover {
  background-image: url("../images/gray_close_icon.png");
}

.form__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  color: #000000;
  margin: auto auto auto 36px;
}

.form__input {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #000000;
  width: 358px;
  height: 27px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}


.form__input-error {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 0, 0, 1);
  line-height: 14px;
  margin: 6px auto 9px 36px;
}

.form__submit-button {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #fff;
  background-color: #000;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border: none;
  margin-bottom: 37px;
}

.form__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.form__submit-button_disabled {
  background-color: gray;
}

.popup__register-content {
  width: 430px;
  height: 330px;
  color: white;

}

.popup__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -50px;
  top: -50px;
  background-size: cover;
  outline: 0;
  border: 0;
}

.popup__register-message {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  color: #000000;

}

.popup__register-check {
  width: 120px;
  height: 120px;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .popup__form {
    width: 282px;
    height: 322px;
    border-radius: 1px;
    margin: 123px 19px auto 19px;
  }

  .form_close-button {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
    top: -50px;
  }

  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin: auto auto auto 22px;
  }

  .form__input {
    width: 238px;
  }

  .form__submit-button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px 22px;
  }

  .popup__close-button {
    position: absolute;
    right: 60px;
    top: 60px;
    width: 26px;
    height: 26px;
  }
}
