.profile {
    align-items: center;
    margin: 46px auto auto auto;
    
  }

.profile__header {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 50px auto;
}

.profile__photo {
  display: flex;
}

.profile__avatar {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
}

.profile__avatar-edit-icon {
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 47px;
}

.profile__data {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
  margin: auto 165px auto 30px;
}

.profile__name {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  color: #fff;
  max-width: 375px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
}

.profile__edit-button {
  background-color: transparent;
  background-image: url("../images/edit_button.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  visibility: visible;
  width: 30px;
  height: 30px;
}

.profile__edit-button:hover {
  background-image: url("../images/gray_edit_button.png");
}

.profile__job {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #fff;
}

.profile__add-button {
  background-image: url("../images/add_button.png");
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  margin: auto;
  background-position: center;
}

.profile__add-button:hover {
    background-image: url("../images/gray_add_button.png");
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
 }

 
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .profile__data {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__header {
    display: flex;
    flex-direction: column;
    margin: auto auto 36px auto;
    align-items: center;
  }

  .profile__photo {
    margin-bottom: 30px;
  }

  .profile__data {
    text-align: center;
    margin: 0;
  }

  .profile__name {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 14px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__job {
    font-size: 14px;
    margin-bottom: 36px;
  }

  .profile__add-image {
    width: 90%;
  }
}
